<div class="page-container">
  <app-header></app-header>
  <div *ngIf="showSuccessAlert" class="alert alert-success m-3 mx-auto" role="alert">
    {{ successMessage }}
  </div>
  <div class="container flex-grow-1 my-5">
    <h2 class="mb-4">User List</h2>
    <div *ngIf="isLoading" class="text-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-2">Loading users...</p>
    </div>

    <div class="table-responsive" *ngIf="!isLoading">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="fw-bold">Name</th>
            <th class="fw-bold">Weight</th>
            <th class="fw-bold">Height</th>
            <th class="fw-bold">Gender</th>
            <th class="fw-bold">Age</th>
            <th class="fw-bold">BMR</th>
            <th class="fw-bold">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.height }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.age }}</td>
            <td class="fw-bold">{{ user.bmr }}</td>
            <td>
              <button class="btn me-2 view-btn" (click)="viewUserData(user)">View</button>
              <button class="btn add-data-btn" (click)="openModal(user)">Add Data</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer ></app-footer>

<app-food-activity-modal 
  [show]="showModal" 
  [userId]="selectedUser?._id" 
  (close)="closeModal()" 
  (save)="saveData($event)"
  (successNotification)="handleSuccess($event)">
</app-food-activity-modal>


